<section class="dashboard--intro section--primary">
  <div class="shell">
    <div class="grid flush">
      <div class="grid__item one-whole hard flush">
        <h2>Hey {{member}}!</h2>
        <p>
          Welcome to your Network Dashboard. We’re excited you’ve joined! At the top are some new resources we thought you would enjoy and that may greatly benefit your ministry, and below is an entire resource archive for you to explore, download, and share.
        </p>
        <a class="btn" data-modal-close="DashboardIntro">I'm Ready To Explore</a>

      </div>
    </div>
  </div>
</section>
