<section style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
  <div class="floating" style="height: 100%" >
    <div class="floating__item">
      <h1>Loading Icon Here</h1>
    </div>
  </div>
</section>
