<section>
	<div class="shell hard">
		<div class="masthead-wrapper">
			<div class="search-container" >
				<span data-google-search-close="search-modal" data-modal-close="search-modal" class="icon icon--large fa fw fa-times"></span>

				<span data-google-search-trigger="search-modal" class=" visuallyhidden--lap-wide-and-down icon icon--large fa fw fa-search"></span>
				<input id="search-bar"
					type="text"
					placeholder="Search"
					data-google-search='search-modal'
					data-google-search-autocomplete='[{"general": "tag", "data" : "/assets/_source/templates/newspring/_testing.group/tags.json"},{"promos" : "promo", "data" : "/assets/_source/templates/newspring/_testing.group/promo.json"}]'>

				<div class="search-results" data-google-search-results="search-modal">
				</div>

			</div>

		</div>
	</div>
</section>
