<div class="share-menu" id="share">
	<div class="rounded"></div>
	<a id="email-share-button" data-share-button="email" href="#" class="share-link share-link-email"><span class="fa fa-envelope fa-lg icon icon--small"></span></a>
	<a id="twitter-share-button" data-share-button="tweet" href="#" class="share-link share-link-twitter"><span class="fa fa-twitter fa-lg icon icon--small"></span></a>
	<div class="rounded"></div>
	<!-- <div class="arrows"></div> -->
</div>
