
<div id="player--ooyala"></div>
<!-- <div class="fa-icon fa-icon--close fa-icon--filled fa fa-times" data-modal-close="videoPlayer"></div> -->
<div class="icon icon--close-modal fa fw fa-times" data-modal-close="videoPlayer"></div>
